<h1>Listing nodes</h1>
<%= render 'nodeMsgArea' %>
<table>
  <tr>
    <th>Name</th>
    <th>IP</th>
    <th>State</th>
    <th>OS</th>
    <th>OS Version</th>
    <th></th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= node.name %></td>
    <td><%= node.ip %></td>
    <td><%= node.state %></td>
    <td><%= node.os %></td>
    <td><%= node.os_version %></td>
    <td><%= link_to 'Node configs', node_node_configs_path(node) %></td>
    <td><%= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="nav_link_group">
<%= link_to 'New Node', new_node_path %>
</div>
