%h1 Current user
%table
  %tr
    %th Email
    %td= current_user.email
  %tr
    %th Authentication token
    %td
      auth_token=#{current_user.authentication_token}
  %tr
    %th Set up command for dodai-deploy node
    %td
      setup-env/setup.sh -s #{Settings.puppet.server} -t #{current_user.authentication_token} [-i IP] node
  %tr
    %th Set up command for dodai-deploy node via proxy
    %td
      setup-env/setup.sh -x PROXY_SERVER -s #{Settings.puppet.server} -t #{current_user.authentication_token} [-i IP] node
