<h1>Listing proposals</h1>
<table>
  <tr>
    <th class="proposal_id_td">Proposal ID</th>
    <th>Name</th>
    <th>Software</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td class="proposal_id_td"><%= proposal.id %></td>
    <td><%= proposal.name %></td>
    <td><%= proposal.software.desc %></td>
    <td><span class="state_span"><%= proposal.state %></span>&nbsp;<img id="processing_img_<%= proposal.id %>" class="processing_img" src="/images/processing.gif"></img></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to_unless ["installed", "tested", "test failed", "installing", "testing", "uninstalling", "waiting"].include?(proposal.state), 'Destroy', proposal, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to_if ["init", "install failed"].include?(proposal.state), 'Install', install_proposal_path(proposal) %></td>
    <td><%= link_to_if ["installed", "tested", "test failed", "install failed", "uninstall failed"].include?(proposal.state), 'Uninstall', uninstall_proposal_path(proposal) %></td>
    <td><%= link_to_if ["installed", "test failed"].include?(proposal.state), 'Test', test_proposal_path(proposal) %></td>
    <td><%= link_to 'Logs', proposal_logs_path(proposal) %></td>
  </tr>
<% end %>
</table>


<div class="nav_link_group">
<%= link_to 'New proposal', new_proposal_path %>
</div>
