<h1>Getting started</h1>

<h2>Step1: add a node</h2>
<p>In the beginning, you should add one or multiple nodes where you will install in <%= link_to "New node", new_node_path %>. In addition, the word <b>Node</b> here means machine. </p> 

<h2>Step2: create a proposal</h2>
<p>After you added nodes, in order to install a software, you need to create a proposal to define the software to be installed, the nodes to be installed in and the configuration of the software. The proposal can be created in <%= link_to "New proposal", new_proposal_path %>.</p>

<p>As to the configuration, the default one has been defined. You can use it with no change, or customize it.</p> 

<h2>Step3: install/uninstall/test a proposal</h2>
<p>After you created a proposal, you can install/uninstall/test the software defined by the proposal in <%= link_to "Proposals", proposals_path %>. And you can also confirm the logs of the operation in <%= link_to "Logs", logs_path %>.</p>

<p>In addition, you can know what are the components of a software will be or has been installed in a node in <%= link_to "Node_configs", node_configs_path %>.</p>

<h2>Step4: edit/delete a proposal</h2>
<p>You can modify a proposal or delete a proposal if it become unnecessary in <%= link_to "Proposals", proposals_path %>.</p>

<h2>Step5: delete a node</h2>
<p>If a node will not be target machine any longer, you can delete the node in <%= link_to "Nodes", nodes_path %>.</p>
