<h1>Getting started</h1>

<h2>Step1: Add a node</h2>
<p>You can add one or more nodes at <%= link_to "New node", new_node_path %>. Note that the word <b>Node</b> here means machine. </p> 

<h2>Step2: Create a proposal</h2>
<p>After you have added nodes, you need to create a proposal to describe the software to be installed and the configuration of the software. The proposal can be created at <%= link_to "New proposal", new_proposal_path %>.</p>

<p>A default configuration has been prepared. You can use it without change, or customize it.</p> 

<h2>Step3: Install/uninstall/test a proposal</h2>
<p>After you have created a proposal, you can install/uninstall/test the software described by the proposal at <%= link_to "Proposals", proposals_path %>. You can also confirm the operation at <%= link_to "Logs", logs_path %>.</p>

<p>You can find out what are the components which will be or has been installed in a node at <%= link_to "Node configs", node_configs_path %>.</p>

<h2>Step4: edit/delete a proposal</h2>
<p>You can modify a proposal or delete a proposal at <%= link_to "Proposals", proposals_path %>.</p>

<h2>Step5: delete a node</h2>
<p>If a node is no longer a target machine, you can delete it from <%= link_to "Nodes", nodes_path %>.</p>
