%h1 Listing nodes on EC2
- if @_errorMsg
  #errorExplanation
    %h3= @_errorMsg
%table
  %tr
    %th Instance ID
    %th DNS Name
    %th IP
    %th Instance State
    %th Node State
    %th
  - if @instances
    - @instances.each do |instance|
      - if ["running", "pending", "shutting-down"].include?(instance[:aws_state])
        %tr
          %td.instance_id_td= instance[:aws_instance_id]
          %td= instance[:private_dns_name]
          %td= instance[:private_ip_address]
          %td
            %span.state_span>= instance[:aws_state]
            \&nbsp;
            %img.processing_img{:id => "processing_img_#{instance[:aws_instance_id]}_#{instance[:aws_state]}", :src => "/assets/processing.gif"}/
          %td 
            %span.state_span>= instance[:node_state]
            \&nbsp;
            %img.processing_img{:id => "processing_img_#{instance[:aws_instance_id]}_#{instance[:node_state]}", :src => "/assets/processing.gif"}/
          %td= link_to_unless (["shutting-down"].include?(instance[:aws_state])||["dodai-deploy server"].include?(instance[:node_state])), 
            'Terminate', terminate_node_on_ec2_path(:instance_id => instance[:aws_instance_id]), :confirm => 'Are you sure?'

.nav_link_group
  = link_to 'Add nodes on EC2', new_node_on_ec2_path
