%h3 Tutorial
%ul
  %li
    = link_to "Getting started", getting_started_index_path
    %br/
  %li
    = link_to "Rest APIs", rest_apis_index_path
    %br/
%h3 Node
%ul
  %li
    = link_to "Nodes", nodes_path
    %br/
  %li
    = link_to "Node configs", node_configs_path
    %br/
  %li
    = link_to "Add nodes on EC2", node_on_ec2_index_path
    %br/
%h3 Proposal
%ul
  %li
    = link_to "Proposals", proposals_path
    %br/
  %li
    = link_to "Waiting proposals", waiting_proposals_path
    %br/
  %li
    = link_to "Logs", logs_path
    %br/
%h3 User
%ul
  %li
    = link_to "Current user", current_user_index_path
    %br/
