<h3>Tutorial</h3>
<ul>
<li><%= link_to "Getting started", getting_started_index_path %> <br/></li>
<li><%= link_to "Rest APIs", rest_apis_index_path %> <br/></li>
</ul>

<h3>Node</h3>

<ul>
<li><%= link_to "Nodes", nodes_path %> <br/></li>
<li><%= link_to "Node configs", node_configs_path %></li>
</ul>

<h3>Proposal</h3>
<ul>
<li><%= link_to "Proposals", proposals_path %> <br/></li>
<li><%= link_to "Waiting proposals", waiting_proposals_path %> <br/></li>
<li><%= link_to "Logs", logs_path %> <br/></li>
</ul>
