<!DOCTYPE html>
<html>
<head>
  <title>dodai-deploy</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "lib/layout-default-latest" %>
  <%= stylesheet_link_tag "lib/smoothness/jquery-ui-1.8.16.custom" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "lib/jquery" %>
  <%= javascript_include_tag "lib/jquery_ujs" %>
  <%= javascript_include_tag 'lib/jquery.layout-latest' %>
  <%= javascript_include_tag 'lib/jquery.timer' %>
  <%= javascript_include_tag 'lib/jquery-ui-1.8.16.custom.min' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag_if_exists "#{params[:controller]}" %>
  <%= javascript_include_tag_if_exists "#{params[:controller]}/#{params[:action]}" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="ui-layout-center">
  <%= yield %>
</div>

<div class="ui-layout-west">
  <%= render(:file => "layouts/_menu") %>
</div>

</body>
</html>
